.container {
  width: 800px;
  height: 610px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: black;
}

.image-slider-wrapper{
  overflow: hidden;
}

#image-slider{
  position: relative;
  height: 570px;
  overflow: hidden;
  left: 0px;
  padding: 0px;
  margin: 0px;
}
#image-slider li {
  position: relative;
  max-width: 100%;
  left: 0px;
  list-style: none;
  float: left;
}

#image-slider li img {
  width: 760px;
  float: left;
}
